@font-face {
    font-family: 'Pre-M';
    src: url("/static/font/Pretendard-Medium.woff2") format("woff2"),
        url("/static/font/Pretendard-Medium.woff") format("woff");
    font-style: normal; font-weight: normal;
}
*{font-family: 'Pre-M';}
