#pure {text-align: center;}
#pure .section_tit {color: #141c2f;}

#pure .main {position: relative;}
#pure .main img {width: 100%; display: block;}
#pure .main .moving {/*background-image: url(/storefarm/card/skin/fall_in_love/img/moving2.gif);*/ background-size: cover; background-repeat: no-repeat; height: 100%; position: absolute; top: 0; width: 100%;}
#pure .main_img_wrap {display: inline-block; width:100%; overflow: hidden; position: relative;}
#pure .main_img_wrap .gradient {position: absolute; bottom: 0; left: 0; right: 0; background-image: url('/deploy/pyw_dol_party/static/img/white_front.png'); width: 100%; height: 215px;}
#pure .main .main_txt {padding: 40px 0;}
#pure .main .main_txt span {font-size: 18px;}
#pure .main .main_txt font {font-size: 14px;}
#pure .main .main_txt p {display: inline-block; border-bottom: 1px solid #888; padding-bottom: 10px; font-size: 18px;}

#pure .main .fa_mom {margin-bottom: 10px;}
#pure .main .fa_mom .fparents_name,
#pure .main .fa_mom .mparents_name {color: #666;}
#pure .main .fa_mom i {vertical-align: bottom; color: #ff4e7f;}
#pure .main .bottom_txt {padding: 0px 0 30px; line-height: 25px;}

#pure .main .moving {background-size: cover; background-repeat: no-repeat; height: 100%; position: absolute; top: 0; width: 100%;}
/* 인사말 */
#pure .greeting_inner img {width: 25px;}
#pure .greeting_inner span {margin-bottom: 20px; display: inline-block; width: 100%; color: #141c2f;}
#pure .greeting_inner {padding: 40px 16%; line-height: 30px;}

/* 달력 */
#pure .calendar_wrap #kCalendar {padding: 0 16%;}
#pure #kCalendar .weddingday {background-color: #141c2f;}
#pure .remain i {vertical-align: bottom; color: #ff4e7f;}

/* 앨범 가로 */
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {background-image: url('/yw_dol/static/img/left.svg');}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {background-image: url('/yw_dol/static/img/right.svg');}
.swiper-button-next, .swiper-button-prev {background-size: 15px;}


/* 지도 */
#pure .map_inner .way_guide .way_tit {color: #141c2f;}
#pure .map_inner .map_detail {background-color: #141c2f; color: #fff;}

/* 계좌번호 */
#pure .account_box .account_tit {background-color: #f2f4f7;}

/* 방명록 */
#pure .book_btn a {background-color: #f2f4f7 }
/* 방명록 상세 */
#pure .book_wrap .book_title {background-color: #141c2f; color: #fff;}

/* 참석여부 */
#pure .attend_inner .check_attend {background-color: #f2f4f7;}
